# Expo & React Native
node_modules/
.expo/
.expo-shared/
dist/
build/
*.log

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store

# Environment variables
.env
.env.*  # in case you use multiple env files

# IDEs and editors
.vscode/
.idea/
*.swp

# Bundler output
web-build/